<article>
    <h3>1. GENERAL TERMS. </h3>
    <p>
        Welcome to the SHOUTcast website! PLEASE READ THIS AGREEMENT CAREFULLY. THIS IS A LEGALLY BINDING AGREEMENT BETWEEN YOU, EITHER AN INDIVIDUAL OR AS A SINGLE ENTITY, (“YOU”) AND RADIONOMY SA, AND ITS AFFILIATES, SUCCESSORS, PARENTS, SUBSIDIARIES, ASSIGNS AND LICENSEE, WHO PROVIDE SHOUTCAST WEBSITE (“RADIONOMY”). RADIONOMY WILL ALLOW YOU TO USE SHOUTCAST WEBSITE APPLICATIONS DESCRIBED BELOW ONLY ON THE CONDITION THAT YOU ACCEPT ALL OF THE TERMS IN THIS AGREEMENT.
    </p>
    <p>
        BY SUBMITTING YOUR REGISTRATION INFORMATION AND CLICKING  "I AGREE,"  YOU  ARE  SIGNING ELECTRONICALLY YOUR AGREEMENT TO ALL OF THE TERMS AND CONDITIONS OF THIS SHOUTCAST WEBSITE DIRECTORY LICENSE AGREEMENT AND TERMS OF SERVICE (THE "AGREEMENT"). YOU AGREE THAT ANY DISPUTE THAT YOU MAY HAVE WITH US OVER THIS AGREEMENT MUST BE RESOLVED IN BELGIUM UNDER THE GOVERNANCE OF BELGIAN LAW. IF YOU DO NOT AGREE TO THIS AGREEMENT PLEASE CLICK THE “CANCEL” BUTTON.</p>
    <h3>2. DEFINITIONS. The following definitions apply in this Agreement: </h3>
    <ol class="list ol-list">
        <li>“Affiliate” means any entity that, directly or indirectly, controls, is controlled by, or is under common control with a Party, including any entity in which a (i) Party holds at least a fifty percent (50%) equity interest or (ii) (ii) which holds at least a fifty percent (50%) equity interest in RADIONOMY. </li>
        <li>“API” means the specifications, code samples, header files, libraries, and applications provided to You by RADIONOMY, and any changes, alterations, corrections, or enhancements made thereto at any time by RADIONOMY. </li>
        <li>“Broadcaster” means an individual, entity or other third party that creates and makes available a Station on SHOUTcast website.  </li>
        <li>“Confidential Information” means any information relating to or disclosed in the course of this Agreement, including, but not limited to, the material terms of this Agreement, information about RADIONOMY Users, technical processes and formulas, source code, product designs, sales, cost and other unpublished financial information, product and business plans, projections and marketing data, the SHOUTcast website Materials, and those techniques, algorithms, and processes contained therein which have been developed, acquired, or licensed by RADIONOMY, or any modification or extraction  thereof, which is clearly marked “Confidential” at the time of disclosure or, if orally or visually disclosed, is identified as confidential at the time of disclosure and confirmed in writing marked “Confidential” to be issued to the receiving party within thirty (30) days after the date of such disclosure, or is of such nature that it should be reasonably understood by the receiving Party to be Confidential Information. Confidential Information shall not include information (2.1) already lawfully known to, or independently developed by the receiving Party without reference to the Confidential Information, (2.2) disclosed in published materials, (2.3) generally known to the public, (2.4) lawfully obtained from any third party, or (2.5) required or reasonably advised to be disclosed by law. </li>
        <li>“Content” means text, images, video, audio (including, without limitation, music used in time relation with text, images, or video), and other data, products, services, advertisements, promotions, URLs, keywords and other navigational elements, links, pointers, technology and software.  </li>.
        <li>“Directory Information” means the formatted data of the SHOUTCAST WEBSITE directory returned by the API to the Integrated Product in response to a Query.  The Directory Information may include data representing links to music streams and other information, which may include music stream titles, URLs where music streams are located, and the genre of music contained in such streams. </li>
        <li>“Documentation” means RADIONOMY’s documentation for the API as may be made available to You, and as modified by RADIONOMY in its sole discretion from time to time.  </li>
        <li>“Integrated Product” means a version of Your Product into which the API is integrated, whether in “works like,” “works like-looks like,” prototype, intermediate form, final form, or other form. </li>
        <li>“Look and Feel” means the elements of graphics, design, organization, presentation, layout, user interface, navigation, trade dress and stylistic convention (including the digital implementations thereof) which are associated with SHOUTcast website.  </li>
        <li>“Marks” means trademarks, trade names, service marks, or logos owned a Party. “RADIONOMY Marks” refers to Marks owned by RADIONOMY, and “Your Marks” refers to Marks owned by You. </li>
        <li>“RADIONOMY User” or “End User” means any user who accesses SHOUTcast website through the Integrated Product. </li>
        <li>“Original Equipment Manufacturers or OEMs” means companies that sell products or services directly to end users. </li>
        <li>“Product” means the product, services, sites or applications designed, manufactured and sold or made available to the public by You either through 1. direct sale to end users 2. via OEMs channels as part of a bundled offering. </li>
        <li>“Query” means a data request submitted from the Integrated Product to the API.  </li>
        <li>“Reseller” means when You do not have a consumer facing product (for example You are a chip maker) and You create Integrated Products which in turn are incorporated into the products and services of OEMs (such as radio and TV manufacturers) which are then made publically available to end users (including, but not limited to RADIONOMY Users). </li>
        <li>“Results Display” means the graphical display created by You of the Directory Information.  </li>
        <li>"Site" means any website located at a URL address on which You, or OEMs place any code that calls or accesses the API that renders the Directory Information.  </li>
        <li>“SHOUTCAST WEBSITE” means the directory of Stations provided by RADIONOMY, including the Directory Information, the Look and Feel and the web site, RADIONOMY properties, and other services available at <a href="http://www.shoutcast.com">www.shoutcast.com</a> . </li>
        <li>“SHOUTcast website Materials” means the API, Directory Information, Documentation or any other materials provided by RADIONOMY under this Agreement. </li>
        <li>“Station” means each individual stream of Content accessible via the Internet from SHOUTCAST WEBSITE. The Stations are listed separately in the SHOUTCAST WEBSITE directory. For purposes of clarity, the term “Station” specifically excludes the broadcasting of Content via radio, television, wire, satellite and cable regulated by applicable telecommunications laws. </li>
        <li>“Territory” means collectively country, geographic territory and/or government Territory.  </li>
    </ol>
    <h3>3. LICENSE GRANT.  </h3>
    <ol class="list ol-list">
        <li>RADIONOMY grants to You a nonexclusive, nontransferable, non-sublicensable, revocable, royalty free, license during the term of this Agreement (i) to integrate the API into the Your Product to create an Integrated Product capable of accessing the Directory Information in accordance with the API and Documentation, (ii) to use, reproduce and distribute the API only in the Integrated Product directly or via OEMs when You are acting in the capacity of a Reseller and (iii) to use the Documentation for the sole purpose of such integration.</li>
        <li>You acknowledge that You obtain no intellectual property rights or licenses by this Agreement except for the limited licenses expressly granted.    </li>
        <li>You grant RADIONOMY a worldwide, perpetual, royalty-free, fully paid up license to use, display, edit, or otherwise promote Your Marks and/or the Integrated Product on the SHOUTcast website.</li>
        <li>RADIONOMY may impose additional usage rules that supplement this Agreement for specific APIs, which will be provided with the applicable API. Such usage rules for the APIs that You elect to use will become part of this Agreement. </li>
        <li>RADIONOMY may modify the terms of this Agreement at any time in its discretion. Material changes to this Agreement shall take effect thirty (30) days after RADIONOMY provides notice of such changes. Your ongoing use and distribution of SHOUTcast website after the changes take effect signifies your electronic agreement to the new terms.  </li>
    </ol>
    <h3>4. LICENSE RESTRICTIONS.  </h3>
    <ol class="list ol-list">
        <li>You shall enable the Integrated Product only to playback Content accessible through the Directory Information, and You shall not enable the Integrated Product to record Content available through the Directory Information. Nothing herein shall be deemed to grant You the right to alter, download, or record Content available through the Directory Information or SHOUTcast website, or to implement any functionality that contradict the anti-circumvention provisions of the Belgian Law on Copyright (30th june 1994), the Digital Millennium Copyright Act (“DMCA”) and applicable laws within the Territories in which You will distribute the Integrated Products with respect to the Content available through the Directory Information.</li>
        <li>You hereby acknowledge that (i) except where expressly identified, RADIONOMY is not the Broadcaster of any Content available through the Directory Information or SHOUTcast website;  and (ii) Broadcasters of Content available through the Directory Information are solely responsible for all Content included in their Station, including, without limitation, advertisements contained therein.</li>
        <li>You hereby acknowledge that use of SHOUTcast website by End Users is governed by the applicable RADIONOMY terms of service (“TOS”), which shall be made available for review by You to End Users through a hyperlink to http://shoutcast.com/disclaimer, text document, or other means which provides End Users with the clear opportunity to review the TOS. You shall not remove, alter, cover, obfuscate, and/or otherwise interfere with any registration or acceptance process for the TOS. </li>
        <li>When sold or distributed to End Users, the Integrated Product shall not (a) contain, be bundled with, or otherwise enable any viruses, Trojan horses, trap doors, back doors, worms, time bombs, cancelbots,  adware,  spyware  or  other  computer  programming  routines  that  will  damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information; (b) contain any material, product or services that violate or encourage conduct that would violate any criminal laws, any other laws, or any third party rights; or (c) incorporate any Publically Available Software, in whole or in part, in a manner that may subject SHOUTcast website or the SHOUTcast website Materials, in whole or in part, to all or part of the license obligations of any Publically Available Software. As used herein, the term "Publicly Available Software" means any software that contains, or is derived in any manner (in whole or in part) from, any software that is distributed as free software, open source software or similar licensing or distribution models; and that requires as a condition of use, modification or distribution that such software or other software incorporated into, derived from or distributed with such software: (1) be disclosed or distributed in source  code  form;  (2)  be  licensed  for  the  purpose  of  making  derivative works;  or  (3)  be redistributable at no charge.</li>
        <li>You shall not, and shall not permit a third party to (a) alter, copy or reproduce any part of SHOUTcast website, or the SHOUTcast website Materials; (b) reverse engineer, modify, disassemble, decompile, or otherwise attempt to derive source code; (c) modify or create derivative works from SHOUTcast website, or the SHOUTcast website Materials; or (d) copy, duplicate, or store any Directory Information or data otherwise retrieved from or derived from SHOUTcast website, or the SHOUTcast     Radio Materials. </li>
        <li>Your Site or Integrated Product will not contain Prohibited Solicitations. As used herein, “Prohibited Solicitations” means: (1) any advertisement that is targeted to an End User based on information gathered by tracking said End User’s web surfing habits across multiple Internet domains with software; (2) any advertisement that is displayed to an End User by means of device-resident software application, and which is not associated with or authorized by the publisher of the Internet domain being visited by the End User.  </li>
        <li>You understand and agree that SHOUTcast website is made available to End Users free of charge. You may not charge End Users any fees (of any kind) for access to and/or use of SHOUTcast website (“Fee Restriction”). For clarity, the Fee Restriction does not prevent you from charging End Users a fee for the Integrated Product so long as the fee for the Integrated Product does not contain a fee and/or charge of any kind for the SHOUTcast website component of the Integrated Product. You understand and agree that Your breach of this Section 4.7 shall be a material breach of this Agreement.  </li>
        <li>SHOUTcast website, the APIs and SHOUTcast website Materials are controlled and operated within BELGIUM. Although SHOUTcast website is accessible from outside of BELGIUM, you understand and agree that SHOUTcast website, the APIs and SHOUTcast website Materials (a) have not been designed or customized for distribution for any specific Territory, (b) are not intended for distribution to, or use by, any person or entity in any Territory where such distribution or use would be contrary to local law or regulation, (c) may not be appropriate or available for access or use in any particular Territory, and (d) are provided without any Content filtering or rating mechanism. RADIONOMY has not assured -- and has no obligation to assure -- that SHOUTcast website and Content offered from the SHOUTcast Directory comply with applicable local laws and regulations within the Territories in which you elect to distribute the Integrated Products. You are solely responsible for complying with any local laws triggered by your targeted distribution of Your Integrated Products within any Territory. You shall not distribute SHOUTcast website where prohibited by any Territory, or in any Territory that requires Content filtering or Content rating mechanisms. Your distribution of SHOUTcast website within any specific Territory is entirely at Your own risk. </li>
        <li>You must register with RADIONOMY and provide accurate identification, contact, and other information required as part of the registration process. You may create a single account only. You may not create any script or other automated tool that attempts to create multiple developer accounts. We may in our sole discretion reject any registration for any reason.  </li>
        <li>RADIONOMY may require that you obtain a user identification ("Developer ID") to use the certain APIs and SHOUTcast website Materials. RADIONOMY may, in its sole discretion, issue to You a Developer ID that You may be permitted to use for a variety of APIs and SHOUTcast website Materials, or RADIONOMY may require that You obtain a separate Developer ID for a specific application or material. Your Developer ID(s) will be uniquely associated with all versions, upgrades and updates of the Integrated Products created by You. Your Developer Product must at all times incorporate the applicable Developer ID in compliance with this Agreement and any additional usage rules that may apply to a specific API. You may not obtain a Developer ID under false pretenses, including without limitation, “spoofing” an IP address or misrepresenting any URLs that will incorporate an API. RADIONOMY has the right at all times to block attempts to access our networks with an invalid or revoked Developer ID or if an Integrated Product associated with a Developer ID exceeds the usage limits for a specific API. RADIONOMY, in its sole discretion, shall determine the number of unique Developer IDs that RADIONOMY provides to you. You may not share, loan, provide, transfer or sublicense your Developer ID to any other person or party. RADIONOMY has the right, in its sole discretion and without limiting our other legal remedies, to terminate any Developer ID and/or to prevent access to Its network. In addition to any other restrictions contained in this Agreement or in any applicable usage rule, You may not register for more than one Developer ID for each API. You may not use any additional Developer ID issued by RADIONOMY to You to circumvent any usage limits. You are responsible for (i) all activity under your Developer IDs and Developer Products, (ii) keeping your Developer ID confidential and (iii) notifying RADIONOMY immediately if you believe your Developer ID has been misappropriated. You agree to implement any feasible procedure that is or may become available to secure your Developer IDs from misuse by others. You will work with RADIONOMY immediately to correct any security deficiencies that may have been caused as a result of the misappropriation by any party of your Developer ID.</li>
        <li>Partner receives no rights and agrees that it will not itself, nor allow any OEM, agent or other third party to encumber or create any lien or security interest on SHOUTcast website or the SHOUTcast website Materials, or take any action that would cause, or fail to take any action that would prevent, SHOUTcast website or the SHOUTcast website Materials to be placed in the public domain.  Except as expressly permitted herein or by applicable law, Partner shall not, and shall not permit any OEM, or other person to, re-configure, modify, translate, decompile, reverse engineer, disassemble, or otherwise determine or attempt to determine source code from the SHOUTcast website or the SHOUTcast website Materials or to create any derivative works based upon the SHOUTcast website or the SHOUTcast website Materials. If Partner or any Partner fails to comply with this Section 4.12, RADIONOMY may immediately (in addition to all other remedies RADIONOMY may have under this Agreement) revoke all licenses granted hereunder.  </li>
        <li>Partner shall ensure that it enters into written agreements with each OEM for the distribution of SHOUTcast website or the SHOUTcast website Materials.   Partner shall ensure that each OEM Agreement is no less protective of RADIONOMY than the terms and conditions of this Agreement. Partner shall ensure that SHOUTcast website or the SHOUTcast website Materials distributed (as part of an Integrated Product) must be distributed with the EULA that is provided by RADIONOMY. Partner shall, and shall cause its OEMs to comply with all then-current applicable laws, regulations and other legal requirements in its performance of this Agreement, including without limitation, all applicable export laws, rules and regulations of any agency of the European Union or other applicable agencies. Partner shall ensure the compliance with all applicable laws, rules and regulations to preclude the acquisition of unlimited rights in SHOUTcast website or the SHOUTcast website Materials to any governmental agency, body, or entity of any kind.  </li>
        <li>Partner understands and agrees that it is liable under the terms of this Agreement for the acts and omissions of each and every OEM.  </li>
    </ol>
    <h3>5. ASSISTANCE; SERVICE; NETWORK LIABILITY, SECURITY AND DISRUPTIONS.   </h3>
    <ol class="list ol-list">
        <li>RADIONOMY reserves the right to update or enhance SHOUTcast website and/or the SHOUTcast website Materials, including but not limited to, the API, the Directory Information, permitted API calls, and the SHOUTCAST WEBSITE web site (each a “Modification”) at any time (without notice), in RADIONOMY’s sole discretion.</li>
        <li>In the event that, and for so long as, RADIONOMY determines that any part of the Integrated Product or the operation thereof is in material violation of this Agreement or otherwise exposes RADIONOMY or SHOUTcast website to liability, disruption or security risks (“Disruption”), RADIONOMY may notify You of such Disruptions and request that You remedy such Disruptions. RADIONOMY shall  have  the  right  to immediately  suspend  access  to  SHOUTcast website by the Integrated Product causing such Disruptions (only to the extent necessary to alleviate such Disruptions) or require You to do so.  </li>
        <li>RADIONOMY's servers record information when the APIs and/or Developer IDs call or invoke RADIONOMY Services. This information may include, without limitation, the Developer ID and access times and dates. RADIONOMY may use this information to promote, operate, and improve RADIONOMY Services.</li>
    </ol>
    <h3>6.   BRANDING AND PROMOTION REQUIREMENTS.  </h3>
    <p>All uses of RADIONOMY Marks shall conform to the branding guidelines set forth in Section 6 below. You shall provide to RADIONOMY the following branding and promotion of SHOUTCAST WEBSITE: </p>
    <ol class="list ol-list">
        <li>You must have a publicly available web site. </li>
        <li>You shall maintain information regarding Your Integrated Products.  </li>
        <li>When available and requested by RADIONOMY, You must use a Developer ID in all Queries. When available, refer to the Documentation with respect to how to establish and use a Developer ID.  </li>
        <li>You shall provide a SHOUTCAST WEBSITE logo or icon as provided to You by RADIONOMY in the user interface of the Integrated Product, which logo or icon shall be a link directing a web browser on the Integrated Product to the SHOUTCAST WEBSITE web page at www.shoutcast.com or any successor URL. Placement must be approved by You and RADIONOMY.  </li>
        <li>You shall provide promotion of SHOUTCAST WEBSITE on the exterior packaging (if applicable) of the Integrated Product.  </li>
        <li>You agree to promote the SHOUTcast website toolbar on your web site and within the documentation of the Integrated Product subject to placement agreed to by You and RADIONOMY in writing. If the Integrated Product is a software download, You agree to bundle the SHOUTcast website toolbar with the Integrated Product. </li>
        <li>You shall call out SHOUTCAST WEBSITE specifically in any marketing materials that call out Internet or online radio. You agree, subject to RADIONOMY’s prior written approval, to place and feature the SHOUTCAST WEBSITE logo on Your main product web page, where one exists. </li>
        <li>You shall provide via e-mail a 92x72px logo and 400 character description of Your Integrated Product (“Integrated Product Description”) which RADIONOMY, in its sole discretion, may feature on the SHOUTCAST WEBSITE partner page on SHOUTcast.com.</li>
        <li>You shall immediately provide RADIONOMY a minimum of two samples of the Integrated Product upon Your integration of the API into Your Product. You agree to send, at your own expense, the samples to the following address: Attention: Radionomy SA, 55K Boulevard International, 1070 Brussels Belgium</li>
        <li>All marketing materials must be approved by RADIONOMY prior to release.  </li>
        <li>The following SHOUTCAST WEBSITE description shall be included in all promotional areas on Your site: </li>
        <p>“What is SHOUTCAST WEBSITE? SHOUTCAST WEBSITE is one of the largest directories of professionally and community programmed online radio stations in the world. Today SHOUTCAST WEBSITE features over 55,000 stations from around the globe. If you're into popular or indie music, or want to check out local or world programming, you're sure to find something you like on SHOUTCAST WEBSITE.“</p>
        <p>SHOUTCAST WEBSITE also provides audio broadcasting software tools for those who want to create a radio station. It permits anyone on the internet to broadcast audio from their computer to listeners across the Internet or any other IP-based network (Office LANs, college campuses, etc.).</p>
        <li>You shall ensure that each OEM complies with Sections 6.1-6.11 of this Agreement above. </li>
        <li>You shall provide the contact information for each OEM and use Your best efforts to assist in introductions and communications between RADIONOMY and each OEM. </li>
        <li>6.14.	You shall provide monthly reports to the RADIONOMY point of contact identified by RADIONOMY which details OEMs under contract to distribute the API pursuant to the terms of this Agreement. The report shall detail the OEMs signed up in the prior month.      </li>
    </ol>
    <h3>7.   TRADEMARK LICENSE.  </h3>
    <ol class="list ol-list">
        <li>In performing its obligations and subject to the terms and conditions of this Agreement (including, but not limited to, Article 6 of this Agreement), You will be entitled to use the RADIONOMY Marks provided by RADIONOMY; and RADIONOMY will be entitled to use Your Marks provide by You to RADIONOMY; provided that each Party: (i) does not create a unitary composite mark involving the Marks of the other Party without the prior written approval of the owning Party; (ii) displays symbols and notices clearly and sufficiently indicating the trademark status and ownership of the Marks in accordance with applicable trademark law and practice; and (iii) complies with the guidelines made available by each Party.  RADIONOMY’s SHOUTCAST WEBSITE branding guidelines are set forth in Section 7.2 below. Each Party acknowledges the ownership right of the other party in its Marks and agrees that all use of the other Party’s Marks will inure to the benefit, and be on behalf, of the owning Party. Party acknowledges that its utilization of the other Party’s Marks will not create in it, nor will it represent it has, any right, title, or interest in or to such Marks other than the licenses expressly granted herein.  Each Party agrees not to do anything contesting or impairing the trademark rights of the other Party in its Marks. Each Party agrees that the nature and quality of its products and services supplied in connection with the other Party’s Marks will conform to quality standards set by the owning Party for use of its Marks.  You agree to supply RADIONOMY, upon request, with a commercially reasonable number of samples of any Integrated Product publicly disseminated by You which utilize the RADIONOMY Marks within a commercially reasonable period of time. Each Party will comply with all applicable laws, regulations, and customs and obtain any required government approvals pertaining to use of the other Party’s Marks. Each Party agrees to promptly notify the other Party of any unauthorized use of the other Party’s Marks of which it has actual knowledge. Each Party will have the sole right and discretion to bring proceedings alleging infringement of its Marks or unfair competition related thereto; provided, however, that each Party agrees to provide the  other  Party  with  its  reasonable  cooperation  and  assistance  with  respect  to  any  such infringement proceedings.  </li>
        <p>Unless expressly provided in this Agreement or otherwise agreed in writing between the Parties, no license or right with respect to one Party’s trade names, trademarks or service marks shall be granted by one Party to the other Party.</p>
        <li>You shall comply in all material respects with the branding guidelines set forth below. In the event of a change in the branding guidelines, You shall have a reasonable period to comply with the changes, or shall have the right to terminate this Agreement upon notice to RADIONOMY. </li>
    </ol>
    <h3>PROPRIETARY RIGHTS AND CONFIDENTIALITY </h3>
    <ol class="list ol-list">
        <li>You shall keep confidential and shall not disclose to any third party (other than the employees of such Party who have a need-to-know) nor use, except for the purposes of this Agreement, any and all Confidential Information of RADIONOMY. You shall take all reasonable steps to protect Confidential Information of RADIONOMY.  RADIONOMY shall retain all rights, title and interest in the SHOUTcast website directory, the SHOUTcast website Materials, RADIONOMY Marks, and any underlying database information at all times.  You agree that SHOUTcast website, the SHOUTcast website Materials and database information, and those techniques, algorithms, and processes contained therein which have been developed, acquired, or licensed by RADIONOMY, or any modification or extraction thereof, are proprietary to RADIONOMY.  </li>
        <li>You acknowledge and agree not to contest that RADIONOMY and its licensors are the sole and exclusive owners of all rights, title, and interest, including all trademarks, copyrights, patents, trade names, trade secrets, and other intellectual property rights in and to the SHOUTcast website Directory, the SHOUTcast website Materials and the RADIONOMY Marks. You agree that all copyright, trademark, and other proprietary notices which are embedded in SHOUTcast website, and/or the SHOUTcast website Materials shall remain as embedded, in the same manner as embedded by RADIONOMY, in each and every copy of SHOUTcast website and/or the SHOUTcast website Materials.</li>
        <li>Except as otherwise set forth in this Agreement, You shall not, and shall not permit a third party to:</li>
        <p>(a)	alter, copy or reproduce any part of the SHOUTcast website and/or the SHOUTcast website Materials;</p>
        <p>(b)	reverse engineer, modify, disassemble, decompile, or otherwise attempt to derive source code of SHOUTcast website and/or the SHOUTcast website Materials;</p>
        <p>(c)	modify or create derivative works from SHOUTcast website and/or the SHOUTcast website Materials;</p>
        <p>(d)	or copy, duplicate, or store any Directory Information or data otherwise retrieved from or derived from SHOUTcast website and/or the SHOUTcast website Materials.   </p>
        <li>As between You and RADIONOMY, RADIONOMY owns all right, title, and interest in and to the SHOUTCAST WEBSITE directory (including the Look and Feel of SHOUTCAST WEBSITE), RADIONOMY Marks and the SHOUTcast website Materials. Nothing herein shall be deemed to grant any rights to You other than those rights specifically granted in this Agreement. In addition, RADIONOMY shall retain editorial control over the SHOUTCAST WEBSITE directory and the SHOUTcast website Materials.  </li>
        <li>Any collection of information from or about End Users collected by RADIONOMY shall be done in accordance with RADIONOMY’s stated privacy policy (“User Information”). You shall not remove, alter, cover, obfuscate, and/or otherwise interfere with an End User’s ability to review RADIONOMY’s privacy policy. (“User Information”).  In no event shall You collect any User Information through the Integrated Product.  </li>
        <li>At all times, RADIONOMY will own and control all aspects of SHOUTcast website, including, without limitation, the SHOUTcast website Look and Feel as it relates to such services, branding, terms of use of such services, the user interface, functionality, related vertical services, content, features, registration, advertising, e-commerce or m-commerce offering, and all associated revenue for SHOUTcast website (including user fees, registration fees, advertising and e-commerce revenues, as applicable, all of which fees and/or revenues RADIONOMY shall retain). For purposes of clarity, RADIONOMY has the exclusive right sell advertisements on SHOUTcast website and you will have no entitlement to any share of the revenue generated by RADIONOMY’s sale of any advertisements.</li>
    </ol>
    <h3>9.   REPRESENTATIONS AND WARRANTIES.  </h3>
    <p>You warrant to RADIONOMY that: (a) You have the legal capacity to enter into this Agreement; (b) all information provided by You to RADIONOMY in connection with Your registration for and use of SHOUTcast website or API is true and accurate; and (c) that Your use of SHOUTcast website, the RADIONOMY Marks,  the SHOUTcast website Materials, and Your Integrated Product, the operation thereof, any other products, services or information provided by You, and any updates, upgrades and modifications thereto, (i) will  not be used in any commercially unreasonable manner; (ii) will not infringe any intellectual property rights of any third party, including without limitation, any right of privacy, publicity, copyright, trademark, or patent; (iii) will comply with all applicable laws, rules and regulations, including without limitation, consumer protection, data security, and privacy laws and (iv) the Integrated Product of a high quality. Further, You  will  ensure  that You  possess  all  authorizations,  approvals,  consents,  licenses,  permits, certificates and other rights and permissions necessary to provide Your Developer Application and/or perform Your obligations hereunder.  </p>
    <h3>10.   RADIONOMY'S DISCLAIMER OF WARRANTY; AS IS</h3>
    <ol class ="list ol-list">
        <li>SHOUTCAST WEBSITE AND THE SHOUTCAST WEBSITE MATERIALS ARE  PROVIDED ON AN “AS IS” AND “WITH ALL FAULTS” BASIS AND  NO WARRANTY IS PROVIDED BY RADIONOMY TO YOU REGARDING SHOUTCAST WEBSITE AND THE SHOUTCAST WEBSITE MATERIALS, INCLUDING, BUT NOT LIMITED TO THE DOCUMENTATION, API, DIRECTORY INFORMATION OR ANY OTHER MATERIAL PROVIDED BY RADIONOMY HEREUNDER. RADIONOMY EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, ANY AND ALL WARRANTIES OF MERCHANTABILITY, ACCURACY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF THIRD PARTY RIGHTS. RADIONOMY MAKES NO REPRESENTATIONS OR WARRANTIES THAT THE OPERATION OF SHOUTCAST WEBSITE AND THE SHOUTCAST WEBSITE MATERIALS WILL BE UNINTERRUPTED OR ERROR-FREE.  </li>
        <li>RADIONOMY makes no representations, warranties, or covenants with respect to the Content, the Directory Information, stability, availability, compliance with any anti-piracy technology laws or regulations that may apply in an applicable Territory, or other rights in or to the Content available on or through SHOUTCAST WEBSITE. All Content available through SHOUTCAST WEBSITE is provided “AS IS” and “WITH ALL FAULTS”. YOU HEREBY ACKNOWLEDGE A) BROADCASTERS AND NOT RADIONOMY  ARE RESPONSIBLE FOR OBTAINING ALL NECESSARY RIGHTS, PERMISSIONS, LICENSES, APPLICABLE TAXES, CERTIFICATIONS AND CLEARANCES,  B) BROADCASTERS AND NOT RADIONOMY ARE SOLELY RESPONSIBLE FOR ENSURING THAT BROADCASTERS’ CONTENT COMPLIES WITH ALL APPLICABLE LAWS AND REGULATIONS, C) BROADCASTERS AND NOT RADIONOMY ARE SOLELY RESPONSIBLE FOR ALL APPLICABLE ROYALTIES TO THE COPYRIGHT OWNERS WITH RESPECT TO THE CONTENT  CONTAINED  IN  THEIR  INDIVIDUAL  STATION(S),  AND  D)  RADIONOMY  SHALL  HAVE  NO RESPONSIBILITY OR LIABILITY TO YOU OR ANY THIRD PARTY TO OBTAIN SUCH RIGHTS, PERMISSIONS, CLEARANCES OR ROYALTY PAYMENTS AND SHALL HAVE NO RESPONSIBILITY OR LIABILITY TO YOU, USERS  OF  THE INTEGRATED    PRODUCT,    OR  ANY  THIRD   PARTY  FOR  THE  FAILURE   OF  SUCH BROADCASTERS TO OBTAIN SUCH RIGHTS, PERMISSIONS, CLEARANCES OR PAY ANY APPLICABLE ROYALTIES. </li>
    </ol>
    <h3>11.   LIMITATION OF LIABILITY.  </h3>
    <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL RADIONOMY OR ITS PARENT, AFFILIATES, SUBSIDIARIES, OR ANY OF THEIR DIRECTORS, EMPLOYEES, DISTRIBUTORS, LICENSORS, SUPPLIERS, AGENTS OR OEMS (COLLECTIVELY, THE "RADIONOMY GROUP") BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES ARISING OUT OF OR IN ANY WAY RELATING TO THIS AGREEMENT OR THE USE OF OR INABILITY TO USE SHOUTCAST WEBSITE, OR THE SHOUTCAST WEBSITE MATERIALS, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF GOODWILL, WORK STOPPAGE, LOST PROFITS, LOSS OF DATA, COMPUTER FAILURE OR MALFUNCTION. IN ADDITION, THE MAXIMUM AGGREGATE LIABILITY OF THE RADIONOMY GROUP FOR ANY CLAIMS ARISING IN CONNECTION WITH THIS AGREEMENT WILL NOT EXCEED ONE HUNDRED DOLLARS (USD $100). SHOUTCAST WEBSITE AND THE SHOUTCAST WEBSITE MATERIALS ARE PROVIDED WITHOUT CHARGE AND THE PARTIES AGREE THAT THE FOREGOING LIMITATIONS REPRESENT A REASONABLE ALLOCATION OF RISK UNDER THIS AGREEMENT.  </p>
    <h3>12.    ACKNOWLEDGEMENT.  </h3>
    <p>The disclaimer of warranty and limitation of damages set forth above are essential elements of the bargain between RADIONOMY and You. You agree that RADIONOMY would not be able to provide SHOUTcast website or the SHOUTcast website Materials on an economic basis without such limitations.</p>
    <h3>13.    INDEMNIFICATION.  </h3>
    <p>You will indemnify, hold harmless and, at RADIONOMY's request, defend RADIONOMY, the RADIONOMY Group and/or RADIONOMY’s or the RADIONOMY Groups’ licensors and other suppliers and/or distributors from and against any and all claims, liabilities, losses, damages, expenses and costs (including attorneys' fees and costs) relating to a) Your breach of any provision under this Agreement, b) the Integrated Product, c) the Integrated Product Description, d) Your Marks, e) all acts and omissions of the OEMs, or f) otherwise arising out of Your use of SHOUTcast website, RADIONOMY Marks, or the SHOUTcast website Materials. RADIONOMY will give You prompt notice of any such claim made against it, and You and RADIONOMY will cooperate in the defense of any such claim, suit or proceeding, including appeals, negotiations and any settlement or compromise thereof, provided that RADIONOMY must approve the terms of any settlement or compromise, and such approval will not be unreasonably withheld.

    </p>
    <h3>14.    TERM AND TERMINATION.  </h3>
    <p>This Agreement commences upon the date You respond to agree to the terms of this Agreement by responding to this e-mail with "I Agree" or otherwise commence using SHOUTcast website and will continue in force thereafter, unless terminated as provided herein (the "Term"). RADIONOMY (without incurring liability of any kind to You, or any third party) may change, suspend, or discontinue all or any aspect of SHOUTcast website, RADIONOMY Marks, or the SHOUTcast website Materials, at any time, and may terminate this Agreement or Your use of SHOUTcast website, RADIONOMY Marks, or the SHOUTcast website Materials (in whole or in part) at any time, including but no limited to, prior to or after Your development and/or deployment of the Integrated Product(s), without notice, for no reason or for any reason, including, but not limited to, Your breach of any condition hereunder. You may terminate this Agreement by i) providing thirty (30) days notice to RADIONOMY in accordance with the terms and conditions of this Agreement, and ii) removing any RADIONOMY Marks authorized hereunder from the Integrated Product and ceasing use of SHOUTcast website, including without limitation by removing any and all code from the Integrated Product enabling Your use of the SHOUTcast website Materials. You agree that once the Agreement is terminated, You will not use SHOUTcast website, RADIONOMY Marks, or SHOUTcast website Materials. </p>
    <h3>15.    SURVIVAL.   </h3>
    <p>Sections 1, 2, 4.6, 4.14, 8-24 and 8 and 10 of the Supplemental Terms for the SHOUTcast website Toolbar shall survive any expiration or termination of this Agreement.  </p>
    <h3>16.    IMPORT/EXPORT CONTROL.  </h3>
    <p>You agree to fully comply with all export and import laws, regulations, rules and orders of the European Union or any foreign government agency or authority, and not to directly or indirectly export, re-export, transfer, or release the SHOUTcast website Materials, any other commodities, or technology received from RADIONOMY, or any direct product thereof, for any proscribed end-use, or to any proscribed country, entity or person (wherever located), without proper authorization from the European Union or foreign government. You further agree to assume responsibility for and bear all expenses relating to Your compliance with the described laws, regulations, rules and orders, and obtaining all necessary authorizations and clearances.  </p>
    <h3>17.    HIGH-RISK ACTIVITIES.  </h3>
    <p>SHOUTcast website services are not fault-tolerant and are not designed, manufactured or intended for use in environments in which their failure could lead directly to death, personal injury, or severe physical or environmental damage, such as in the  operation of nuclear  facilities, aircraft navigation or communication systems, air traffic control, direct life support machines, or weapons systems ("High Risk Activities"). ACCORDINGLY, RADIONOMY AND ITS LICENSORS SPECIFICALLY DISCLAIM ANY EXPRESS OR IMPLIED WARRANTY OF FITNESS FOR HIGH RISK ACTIVITIES. YOU AGREE THAT THE RADIONOMY GROUP WILL NOT BE LIABLE FOR ANY CLAIMS OR DAMAGES ARISING FROM THE USE OF SHOUTcast website.  </p>
    <h3>18.    ELECTRONIC SIGNATURE AND ELECTRONIC NOTICES.  </h3>
    <p>You agree to transact with us electronically, and that Your act of agreeing to the terms of this Agreement by submitting your registration information and clicking "I Agree" has the same legal force and effect as a written contract with Your written signature and satisfy any laws that require a writing or signature. YOU CONSENT TO RADIONOMY PROVIDING YOU ANY INFORMATION AND NOTICES REGARDING SHOUTCAST WEBSITE ("NOTICES") IN ELECTRONIC FORM. RADIONOMY MAY PROVIDE NOTICES TO YOU (1) VIA E-MAIL IF YOU HAVE PROVIDED RADIONOMY WITH A VALID EMAIL ADDRESS OR (2) BY POSTING THE NOTICE ON A WEBSITE DESIGNATED BY RADIONOMY FOR THIS PURPOSE. The delivery of any notice is effective when sent or posted by RADIONOMY, regardless of whether You read the notice or actually receive delivery. You can withdraw Your consent to receive notices electronically by discontinuing Your use of SHOUTcast website. In the event You desire to send a notice to RADIONOMY, You must send the notice to  <a href="mailto:contact@shoutcast.com">contact@shoucast.com</a>  and  such  notices  will  be  deemed  to  be delivered and given for all purposes on the delivery date of the electronic mail. </p>
    <h3>19.    INJUNCTIVE RELIEF.  </h3>
    <p>You acknowledge and agree that, notwithstanding any other provisions of this Agreement, Your breach or threatened breach of this Agreement will cause RADIONOMY irreparable damage for which recovery of money damages would be inadequate and that RADIONOMY, therefore, may obtain timely injunctive relief to protect its rights under this Agreement in addition to any and all other remedies available at law or in equity.  </p>
    <h3>20.    TERRITORY; VENUE.  </h3>
    <p>YOU EXPRESSLY AGREE THAT EXCLUSIVE JURISDICTION FOR ANY CLAIM OR DISPUTE WITH RADIONOMY, RADIONOMY’S AFFILIATES, SHOUTCAST WEBSITE, THIS AGREEMENT, OR RELATING IN ANY WAY TO YOUR USE OF THE  SHOUTCAST WEBSITE MATERIALS RESIDES IN THE COURTS LOCATED IN BELGIUM AND YOU FURTHER AGREE AND EXPRESSLY CONSENT TO THE EXERCISE OF PERSONAL JURISDICTION IN SUCH COURTS IN CONNECTION WITH ANY SUCH DISPUTE INCLUDING ANY CLAIM INVOLVING RADIONOMY, THIS AGREEMENT, SHOUTCAST WEBSITE OR THE SHOUTCAST WEBSITE MATERIALS. PLEASE NOTE THAT BY AGREEING TO THESE TERMS OF USE, YOU ARE WAIVING CLAIMS THAT YOU MIGHT OTHERWISE HAVE AGAINST US BASED ON THE LAWS OF OTHER JURISDICTIONS, INCLUDING YOUR OWN. </p>
    <h3>21. GOVERNING LAW</h3>
    <p>This agreement and any dispute, controversy, proceedings or claim of whatever nature arising out of or in any way relating to this agreement, shall be governed by and construed in accordance with BELGIAN LAW.      </p>
    <h3>22.   NO PRESS RELEASES.   </h3>
    <p>In no event shall each You make press releases or other public statements related to the subject matter of this Agreement or RADIONOMY, including but not limited to, using the Integrated Product and/or the RADIONOMY’s Marks, or the existence of this Agreement or the relationship described herein, without the prior written consent of RADIONOMY, which consent shall not be unreasonably withheld. You understand and agree that RADIONOMY may make press releases or public statements related to the subject matter of this Agreement without Your approval. For clarity, You agree that RADIONOMY may promote Your participation in the SHOUTcast API program and the Integrated Product without your approval on any website controlled by RADIONOMY or any RADIONOMY Affiliate or in any communication to End Users. </p>
    <h3>23.   TAXES. </h3>
    <p>Each Party agrees to pay and shall be responsible for its own taxes incurred by or levied upon in collection with the performance of its obligations under this Agreement, including without limitation, taxes arising from or measured by each Party's net income. You agree to pay any and all national, provincial and local income taxes, self-employment taxes, sales taxes, local taxes, value added taxes, consumption taxes, duties or levies and assessments, howsoever designated or computed, pertaining to the distribution and sale of your Integrated Products that you agree to indemnify RADIONOMY the payments under this Agreement, which may not be deducted from the calculation for advertising revenue or from the payments due to RADIONOMY (“Your Taxes”). You agree to indemnify RADIONOMY for any of Your Taxes that You may be obligated to pay. </p>
    <h3>24.    MISCELLANEOUS.  </h3>
    <p>(a) This Agreement constitutes the entire agreement between You and RADIONOMY concerning the subject matter of this Agreement, which may only be modified by RADIONOMY. (b) If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties' original intent as nearly as practicable, and the remaining portions remain in full force and effect, or RADIONOMY may at its option instead terminate this Agreement. (c) The controlling language of this Agreement is English. If You have received a translation into another language, it has been provided for Your convenience only. (d) Your use of SHOUTcast website, RADIONOMY Marks, or the SHOUTcast website Materials does not create any partnership, joint venture or agency relationship between You and RADIONOMY. Neither You nor RADIONOMY has the power to direct or control the day to day activities of the other or to create or assume any obligation on behalf of the other. (e) A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. (f) You may not assign or otherwise transfer by operation of law or otherwise this Agreement or any rights or obligations herein. RADIONOMY may assign this Agreement to any entity at its sole discretion. (g) This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns. (h) Neither party will be in default or be liable for any delay, failure in performance or interruption of service resulting directly or indirectly from any cause beyond its reasonable control. (i) You understand and agree that RADIONOMY reserves the right to use whatever technical and legal remedies available to us to prevent abuses to SHOUTcast website, RADIONOMY Marks, or the SHOUTcast website Materials. We reserve the right to take any action we deem appropriate (x) Your compliance with this Agreement and (y) any activity or conduct that we believe violates the terms of this Agreement. In addition to any other rights that we may have in this section and in the Agreement, we reserve the right to request an audit to determine compliance with this Agreement.  </p>
    <p> <strong>SUPPLEMENTAL TERMS FOR THE SHOUTCAST WEBSITE/RADIONOMY TOOLBAR</strong></p>
    <p>IN ADDITION TO THE TERMS CONTAINED IN THE SHOUTCAST WEBSITE DIRECTORY LICENSE AGREEMENT AND TERMS OF SERVICE, THE FOLLOWING SUPPLEMENTAL TERMS APPLY TO YOUR INSTALLATION AND USE OF THE SHOUTCAST WEBSITE/RADIONOMY TOOLBAR. BY INSTALLING AND/OR USING THE PRODUCT, YOU AGREE ELECTRONICALLY THAT THE SHOUTCAST WEBSITE DIRECTORY LICENSE AGREEMENT AND TERMS OF SERVICE AS SUPPLEMENTED BY THE FOLLOWING TERMS APPLY TO YOUR USE OF THE SHOUTCAST WEBSITE/RADIONOMY TOOLBAR. IN THE EVENT THAT THESE SHOUTCAST WEBSITE DIRECTORY LICENSE AGREEMENT TERMS OF SERVICE, AS SUPPLEMENTED BY THE FOLLOWING TERMS CONFLICT WITH ANY TERMS AND CONDITIONS THAT MAY BE PRESENTED TO YOU WHILE INSTALLING THE TOOLBAR, THESE SHOUTCAST WEBSITE DIRECTORY LICENSE AGREEMENT TERMS OF SERVICE AS SUPPLEMENTED BY THE FOLLOWING TERMS SHALL TAKE PRECEDENCE AND GOVERN SUCH CONFLICT. </p>
    <ol class="list ol-list">
        <li>WEB SITES AND CONTENT.</li>
        <p>Content that may be accessed through the use of the SHOUTcast website Toolbar ("Toolbar"), including any links to certain web sites and RSS feeds offered with the

            Toolbar, is the property of its respective owner. RADIONOMY is not responsible for such content and RADIONOMY makes no representations or warranties regarding the accuracy or reliability of the information included in such content. The content on the linked sites is provided to you for your personal, non-commercial use as a convenience to you. You must agree to abide by the terms and conditions that may apply to any interactive online service that you elect to use with the Toolbar. Some of the services that RADIONOMY may offer for use with the Toolbar may require that you register with RADIONOMY and obtain a User ID or screen name, which will be subject to separate terms and conditions, which you will have an opportunity to review and approve.
        </p>
        <li>PRIVACY POLICY. </li>
        <p>You consent to the information practices disclosed in the RADIONOMY Privacy Policy located at <a href="http://www.radionomy.com/en/static/privacy" target="_blank">http://www.radionomy.com/en/static/privacy</a> when you use the RADIONOMY Toolbar.  </p>
        <li>SUGGESTIONS</li>
        <p>You agree that RADIONOMY may use in any manner and without limitation all comments, suggestions, complaints and other feedback you provide relating to the Toolbar.  </p>
        <li>YOUR REPRESENTATIONS</li>
        <p>You represent and warrant that you have adequate legal capacity to enter into this Agreement, that you will use the Toolbar only for lawful purposes and that you will not violate the terms of this Agreement.  </p>
        <li>AUTOMATED UPDATES</li>
        <p>RADIONOMY may deliver to your computer automated updates, upgrades, modifications, and/or patches to address issues such as security, interoperability, and performance (collectively “Updates”). You may be given the opportunity to choose whether you want all Updates delivered automatically or you would prefer to be notified when a new Update is ready to be installed. </p>
        <p>You authorize RADIONOMY to deliver automatically any Update if we believe it is necessary to provide for the continued functionality of the Toolbar. Your use of the Updates will be governed by this Agreement unless you are asked to agree to new or additional terms and conditions at the time of download or installation.  </p>
        <li>PERFORMANCE AND USAGE INFORMATION</li>
        <p>(a) TECHNICAL INFORMATION. Most of the Toolbar software is configured to report back information automatically relating to computer errors arising in connection with use of the Toolbar, without notice to you. Information on your Toolbar configuration settings may be included. This data is sent to RADIONOMY to help diagnose performance issues with, and improve, the Toolbar.  </p>
        <p>(b) FEATURE USAGE INFORMATION. The Toolbar may also provide RADIONOMY with anonymous information about use of the Toolbar’s features and buttons. RADIONOMY uses this information in the aggregate to determine which Toolbar features and buttons are most popular and useful to its users.  </p>
        <p>(c) SOFTWARE ID. The Toolbar may contain a specific identification number for the purpose of tracking the number of unique instances of the Toolbar in use.

        </p>
        <p>(d) PERSONALIZATION. You may be asked to provide RADIONOMY with certain information so that we can personalize content presented to you through the Toolbar. For example, you may be asked for your zip code, which could be used to provide you with relevant local weather and/or news reports.  </p>
        <li>THIRD PARTY OFFERINGS</li>
        <p>Third parties may from time to time offer applications or services to access, “plug-into” or interact with the Toolbar. You may only use third-party applications authorized by us for use with the Toolbar. Your use of any third-party applications will be at your own risk and subject to the terms and conditions of those third parties. RADIONOMY makes no representations or warranties, express or implied, regarding the third party applications. You agree that RADIONOMY is under no obligation to provide you with any error corrections, updates, upgrades, fixes and/or enhancements to make the Toolbar accessible through or compatible with these third party applications.  </p>
        <li>DISCLAIMERS. THE TOOLBAR IS PROVIDED "AS IS" WITH ALL FAULTS.</li>
        <p>RADIONOMY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING ANY IMPLIED WARRANTIES THAT THE TOOLBAR IS MERCHANTABLE, OF SATISFACTORY QUALITY, ACCURATE, FIT FOR A PARTICULAR PURPOSE OR NEED, OR NON-INFRINGING, UNLESS SUCH IMPLIED WARRANTIES ARE LEGALLY INCAPABLE OF EXCLUSION. YOU AGREE THAT RADIONOMY OFFERS THE TOOLBAR AT NO COST TO YOU AND, THEREFORE, IN CONSIDERATION FOR YOUR ACCESS AND USE OF THE SOFTWARE, YOU AGREE THAT RADIONOMY SHALL NOT BE LIABLE TO YOU FOR ANY DAMAGES REGARDING THE TOOLBAR, INCLUDING CONSEQUENTIAL, LOST PROFITS, SPECIAL, INDIRECT, INCIDENTAL OR PUNITIVE DAMAGES TO THE FULL EXTENT PERMITTED BY LAW.   </p>
        <li>TERMINATION. Your license to use the Toolbar terminates immediately if you violate any terms of the Agreement or any terms that apply to the User ID or screen name associated with your use of the Toolbar.  </li>
        <li>INCORPORATION BY REFERENCE. All terms and conditions pertaining to the "Product" and "Basic Product" in the SHOUTcast website™ Broadcaster Terms of Use apply to the Toolbar, including without limitation, any disclaimers and limitation of liability, and are incorporated into these supplemental terms by reference.  </li>

    </ol>
    <p class="date-tos"><strong>LAST UPDATED 6-23-2014</strong> </p>
</article>